<h3 class="text-white bg-primary p-3">Lista {{getName()}}</h3>
<table class="table table-striper table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>Zadanie</th>
    <th>Wykonanie</th>
  </tr>
  </thead>
  <tbody>

  <!--<tr>-->
    <!--<td>Kupić kwiaty</td>-->
    <!--<td>Nie</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>Kupić buty</td>-->
    <!--<td>Tak</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>Kupić bilety</td>-->
    <!--<td>Nie</td>-->
  <!--</tr>-->

  <tr *ngFor="let item of getTodoItems(); let i = index">
    <td>{{i + 1}}</td>
    <td>{{item.action}}</td>
    <td [ngSwitch]="item.done">
      <span *ngSwitchCase="true">Tak</span>
      <span *ngSwitchDefault>Nie</span>
    </td>
  </tr>
  </tbody>
</table>
